/* 전체 컨테이너 설정 */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    
}

/* 고정된 배경 */
.fixed-background {
    flex: 0 0 70%; /* 위쪽 절반 */
    background: url('/public/img/wintertop.png') no-repeat center center;
    background-size: 90%; /* 배경 이미지가 비율을 유지하며 화면에 맞게 조정 */
    color: white;
    text-align: center;
    position: relative; /* 고정 배경을 고정하려면 relative나 fixed 사용 */
    z-index: 1;
}

/* 반복 패턴 배경 설정 */
.repeated-pattern {
    background: url('/public/img/winterbottom.png') repeat-y;  /* 이미지가 세로로 반복되도록 설정 */
    background-position: center top; /* 이미지를 수평 중앙, 수직 상단에 배치 */
    background-size: 90%; /* 이미지의 크기 조정 없이 원본 크기로 표시 */
    height: 100vh; /* 전체 화면 높이를 차지하도록 설정 (필요에 따라 조정) */
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    align-items: center;
    color: #333;
  }
